<div class="content">
  <div class="col-xs-2 text-center edit-rating">
    <%= link_to '[edit]', '#', data: {drop_in_id: drop_in.id } %>
  </div>
  <div class="col-xs-10">
    <h3><%= link_to drop_in.retailer.name, retailer_path(drop_in.retailer)%></h3>
    <h4><%= drop_in.colloquial_time %></h4>
    <div class="rating-summary">
      <div class="star-rating row">
        <%= render 'star_rating', rating: drop_in.shopper_rating %>
      </div>
      <h4><%= drop_in.shopper_feedback %></h4>
    </div>
    <div class="rating-form col-xs-6">
      <%= form_for drop_in, html: {class: "form-horizontal"} do |f| %>
          <div class="form-group">
            <%= f.label :shopper_rating, "Rating", class: "control-label" %>
            <%= f.select :shopper_rating, (1..5).map{|v| ["#{v} out of 5", v] },
                         {},
                         class: "form-control",
                         prompt: true %>
          </div>

          <div class="form-group">
            <%= f.label :shopper_feedback, "Feedback", class: "control-label" %>
            <%= f.text_area :shopper_feedback, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit 'Save', class: 'btn btn-default' %>
          </div>
      <% end %>
    </div>
  </div>
</div>