<div class="content">
  <div class="col-xs-3">
    <h3><%= drop_in.user.first_name %></h3>
    <h3><%= drop_in.colloquial_time %></h3>
  </div>
  <div class="col-xs-5">
    <div class="edit-rating">
      <%= link_to '[edit]', '#', data: {drop_in_id: drop_in.id } %>
    </div>
    <div class="rating-summary">
      <div class="star-rating row">
        <%= render 'star_rating', rating: drop_in.retailer_rating %>
      </div>
      <h4><%= ("$%6.2f" % drop_in.sales_generated) unless drop_in.sales_generated.nil? %></h4>
      <h4><%= drop_in.retailer_feedback %></h4>
    </div>
    <div class="rating-form">
      <%= form_for drop_in, html: {class: "form-horizontal"} do |f| %>
          <div class="form-group">
            <%= f.label :retailer_rating, "Rating", class: "control-label" %>
            <%= f.select :retailer_rating, (1..5).map{|v| ["#{v} out of 5", v] },
                         {},
                         class: "form-control",
                         prompt: true %>
          </div>

          <div class="form-group">
            <%= f.label :sales_generated, "How much did the shopper spend?", class: "control-label" %>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :sales_generated, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :retailer_feedback, "Feedback", class: "control-label" %>
            <%= f.text_area :retailer_feedback, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit 'Save', class: 'btn btn-default' %>
          </div>
      <% end %>
    </div>
  </div>
  <div class="col-xs-4 text-center">
    <h1>
      <i class="show-preferences-toggle fa fa-caret-right"></i>
    </h1>
  </div>
  <div class="col-xs-8 col-xs-offset-2 preferences-details">
    <%= render 'shared/style_preferences',
               profile: drop_in.user.style_profile %>
  </div>
</div>


