<div class="col-md-3 col-xs-3 vcenter">
  <h4><%= drop_in.shopper.first_name %></h4> 
  <h4><%= drop_in.colloquial_time %></h4>
</div>
<div class="col-md-8 col-xs-8 vcenter">
  <% unless drop_in.comment.blank? %>
    <h4>What she is seeking:</h4><br />
    <p><%= drop_in.comment %></p><br />
  <% end %>
  <h4>Her preferences:</h4><br />
  <p><%= drop_in.shopper.style_profile.synopsis %></p><br />
  <% unless drop_in.drop_in_items.empty? && drop_in.shopper.favorites.empty? %>
    <h4>Items she likes:</h4><br />
    <% drop_in.drop_in_items.map(&:reservable).each do |item| %>
      <a href=<%= item_show_path(item)%>>
        <div class="col-md-2 col-xs-2">
          <%= cl_image_tag(item.image_name, width: 100, 
                           height: 125, crop: :lpad, 
                           alt: item.image_alt_text) %>
        </div>
      </a>
    <% end %>
    <% drop_in.shopper.favorites.map(&:favoriteable).each do |item| %>
      <a href=<%= item_show_path(item)%>>
        <div class="col-md-2 col-xs-2">
          <%= cl_image_tag(item.image_name, width: 100, 
                           height: 125, crop: :lpad, 
                           alt: item.image_alt_text) %>
        </div>
      </a>
    <% end %>
  <% end %>
</div>
