<% provide(:title, 'My Drop-Ins') %>

<%= render "shared/header" %>

<div class="bookings container">
  <% if shopper_signed_in? && never_had_drop_in?(current_user) %>
      <%= render "shared/experience" %>
  <% elsif retailer_signed_in? && current_user.retailer.drop_ins.empty? %>
      <br />
      <div class="row text-center">
        <h3>No one has booked a styling at your store yet.</h3><br />
        <h3>Here's a sample to prepare you for your first booking. </h3>
      </div>
      <br />
      <%= render 'sample_booking_for_retailer' %>
  <% else %>
      <div class="row text-center">
        <h3>Here are your style session bookings.</h3><br />
      </div>
      <% @upcoming_drop_ins.each do |drop_in| %>
          <div id="drop_in_<%= drop_in.id %>" class="row">
            <div class="single-booking col-xs-10 col-xs-offset-1">
              <% if shopper_signed_in? %>
                  <%= render 'upcoming_for_shopper', drop_in: drop_in %>
              <% elsif retailer_signed_in? %>
                  <%= render 'upcoming_for_retail_user', drop_in: drop_in %>
              <% end %>
            </div>
          </div>
      <% end %>
      <% @previous_drop_ins.each do |drop_in| %>
          <div id="drop_in_<%= drop_in.id %>" class="row">
            <div class="single-booking col-xs-10 col-xs-offset-1">
              <% if shopper_signed_in? %>
                  <%= render 'previous_for_shopper', drop_in: drop_in %>
              <% elsif retailer_signed_in? %>
                  <%= render 'previous_for_retail_user', drop_in: drop_in %>
              <% end %>
            </div>
          </div>
      <% end %>
  <% end %>
</div>

