<% provide(:title, 'My Drop-Ins') %>

<div class="my-drop-ins-top">
  <%= render "shared/header" %>
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>My Drop-Ins</h2><br /> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-drop-ins block">
  <div class="container">
    <% @drop_ins.each_with_index do |drop_in, idx| %>
      <div id="drop_in_<%= drop_in.id %>" class="single-drop-in row">
        <div class="col-md-1 col-xs-1 text-center">
          <a id="cancel" data-confirm="Are you sure you want to remove this drop in?" 
             data-method="delete" 
             href=<%= drop_in_path(drop_in) %> 
             rel="nofollow"><i class="fa custom-fa-lg fa-minus-circle"></i></a>
        </div>
        <div class="col-md-3 col-xs-3 text-center">
          <h4><%= drop_in.colloquial_time %></h4>
        </div>
        <div class="col-md-3 col-xs-3 text-center">
          <h4><%= link_to(drop_in.retailer.name, retailer_path(drop_in.retailer)) %></h4>
        </div>
        <div class="col-md-5 col-xs-5 text-center">
          <h4><%= drop_in.retailer.get_drop_in_location(drop_in.time.to_s).stringify %></h4>
        </div>
        <% drop_in.drop_in_items.each do |item| %>
          <div class="col-md-12 col-xs-12 text-center">
            <br /><p>We've noted you're interested in seeing the <%= item.reservable.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="continue-browsing">
      <div class="col-md-4 col-xs-4">
        <a class="btn btn-lg btn-primary" href=<%= retrieve_recommendation_home_path %>>
          <span class="glyphicon glyphicon-chevron-left"></span>  Continue Browsing
        </a>
      </div>
    </div>
  </div>
</div>
