<% provide(:title, 'My Drop-Ins') %>

<%= render "shared/header" %>

<% if current_shopper && never_had_drop_in?(current_shopper) %>
    <%= render "shared/experience" %>
<% else %>
    <% @upcoming_drop_ins.each_with_index do |drop_in, idx| %>
        <div id="drop_in_<%= drop_in.id %>" class="single-drop-in row">
          <% if current_shopper %>
              <%= render 'upcoming_for_shopper', drop_in: drop_in %>
          <% elsif current_retail_user %>
              <%= render 'upcoming_for_retail_user', drop_in: drop_in %>
          <% end %>
        </div>
        <hr />
    <% end %>
    <% @previous_drop_ins.each_with_index do |drop_in, idx| %>
        <div id="drop_in_<%= drop_in.id %>" class="single-drop-in row">
          <% if current_shopper %>
              <%= render 'previous_for_shopper', drop_in: drop_in %>
          <% elsif current_retail_user %>
              <%= render 'previous_for_retail_user', drop_in: drop_in %>
          <% end %>
        </div>
        <hr />
    <% end %>
<% end %>
