<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="service-item text-center">
      <a href=<%= experience_path %>>
        <%= image_tag("survey.jpg", class: "img-responsive center-block") %>
      </a>
      <h3>Create a personalized style profile to capture your unique style preferences.</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="service-item text-center">
      <a href=<%= experience_path %>>
        <%= image_tag("boutique.jpg", class: "img-responsive center-block") %>
      </a>
      <h3>Discover neighborhood fashion boutiques and learn about their story, values, and owners.</h3>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="service-item text-center">
      <a href=<%= experience_path %>>
        <%= image_tag("dress.jpg", class: "img-responsive center-block") %>
      </a>
      <h3>Book FREE styling sessions. Walk in to find hand-picked items for your shape, size, budget, and more.</h3>
    </div>
  </div>
</div>