<% retailer = Retailer.all_live.sample unless Retailer.all_live.empty? %>

<%= render "shared/header" %>

<header id="myCarousel" class="carousel slide">
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <% Retailer.showcase.each_with_index do |retailer, idx| %>
        <div class="item <%= 'active' if idx == 0%>">
          <div class="fill" style="background-image:url('<%= retailer.above_fold_image %>');"></div>
          <div class="carousel-caption">
            <h3>Boutique: <%= retailer.name %></h3>
            <h4><%= retailer.location.neighborhood %></h4>
          </div>
        </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>
<div class="above-fold-banner">
  <div class="col-sm-12 col-md-7">
    <%= image_tag("logo_white.png", class: "img-responsive center-block") %>
  </div>
  <div class="col-sm-12 col-md-3 text-center">
    <div class="banner-text">
      <h4>No need to shop with the masses.</h4>
      <h4>Find your perfect boutique and outshine the rest.</h4>
    </div>
    <div class="cta-buttons col-xs-12">
      <div class="col-xs-6 text-center">
        <a id="move-learn-more" class="btn btn-default btn-lg pull-right">Learn More</a>
      </div>
      <div class="col-xs-6 text-center">
        <a id="move-join-now" class="btn btn-default btn-lg pull-left">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<div class="homepage">
  <div class="more-about-us" id="more-about-us">
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="main-text col-xs-12 col-sm-6 text-center">
            <h4>
              OpenStile has partnered with boutiques  around New York City to bring you the best fashion.  Based off your style profile, we match you with the perfect boutique. Unlike mass fashion, our boutiques
              are not driven by fads, but driven to help enhance your style.
              Get individual, undivided attention. The boutique will work with you to create the best look and even suggest ways to incorporate
              items in your current wardrobe. Our services are always complementary with never any obligation to buy.
              Enjoy shopping again and be the ultimate you.
            </h4><br />
            <a href="#">more about us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="benefits text-center">
    <h2>Benefits of OpenStile</h2>
    <div class="highlights container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-heart-o fa-4x" aria-hidden="true"></i>
          <h4>Love Shopping Again</h4>
          <p class="text">
            No more crowded stores or waiting in lines.
            Enjoy personal attention as well as fashion designed for unique individuals like yourself, and not for the masses.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-clock-o fa-4x" aria-hidden="true"></i>
          <h4>Save Time and Money</h4>
          <p class="text">
            Stop rummaging through racks or be stuck in dressing rooms.  Our services are complementary and our in-house
            boutique stylists will curate everything for you based off your style, budget, and needs before you arrive.
          </p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <i class="fa fa-diamond fa-4x" aria-hidden="true"></i>
          <h4>Unique Pieces</h4>
          <p class="text">
            Never get caught wearing the same thing as anyone else again.
            Love the pieces you find not just for their exclusive designs, but the designers behind them.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="how-it-works">
    <div class="row">
      <div class="banner col-xs-8 col-xs-offset-4 col-md-5 col-md-offset-7">
        <h1>It's Easy!</h1>
      </div>
    </div>
    <div class="row">
      <div class="step col-xs-6 col-xs-offset-4 col-md-4 col-md-offset-7">
        <div class="number col-xs-3">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x">1</strong>
          </span>
        </div>
        <div class="text col-xs-9">
          <h4>Create a Style Profile</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="step col-xs-6 col-xs-offset-4 col-md-4 col-md-offset-7">
        <div class="number col-xs-3">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x">2</strong>
          </span>
        </div>
        <div class="text col-xs-9">
          <h4>Set free appointment at your top matched boutiques</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="step col-xs-6 col-xs-offset-4 col-md-4 col-md-offset-7">
        <div class="number col-xs-3">
          <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <strong class="fa-stack-1x">3</strong>
          </span>
        </div>
        <div class="text col-xs-9">
          <h4>Arrive at your appointment. Enjoy shopping fashion that truly expresses the ultimate you</h4>
        </div>
      </div>
    </div>
    <div class="row action-link">
      <div class="col-xs-6 col-xs-offset-4 col-md-4 col-md-offset-7 text-center">
        <a href="#">how it works</a>
      </div>
    </div>
  </div>
  <div class="signup" id="join-now">
    <div class="container">
      <div class="row">
        <div class="marquee col-md-5 col-xs-10 col-xs-offset-1">
          <div class="text-center">
            <h3>Sign Up with OpenStile Today</h3><br/>
          </div>
          <%= react_component 'ShopperInterest', data: {}%>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $('.carousel').carousel({
        interval: 5000
    });
    $('#move-learn-more').click(function() {
        $('html,body').animate({
            scrollTop: $("#more-about-us").offset().top
        });
        return false;
    });
    $('#move-join-now').click(function() {
        $('html,body').animate({
            scrollTop: $("#join-now").offset().top
        });
        return false;
    });
</script>

<% set_meta_tags og: {
                         locale: 'en_US',
                         type:     'website',
                         title:    'OpenStile | Hand-picked style at your favorite local boutiques',
                         description: 'OpenStile lets you book FREE personal styling sessions at neighborhood boutiques.' +
                                      ' Walk in to find items pre-selected based on your likes, budget, body type and more!',
                         url:      'http://www.openstile.com',
                         image:    'https://res.cloudinary.com/openstile/image/upload/v1447729511/openstilelogo-small-square_rx8yto.png'
                 }
%>

<% set_meta_tags twitter: {
                         card: "summary_large_image",
                         site: "@OpenStile"
                 }
%>