<% provide(:title, 'A Personalized way to Explore Local Fashion Boutiques') %>

<div class="top">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="logo">
            <h1><a href="#">OpenStile</a></h1>
          </div>
        </div>
        <div class="navigation pull-right">
          <%= link_to "Home", root_path %>
          <%= link_to "About", about_path %>
          <%= link_to "Blog", '#' %>
        </div>
      </div>
    </div>
  </header>

  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>Welcome to OpenStile</h2>
            <p>A Personalized Way to Explore Fashion Boutiques</p><br /> 
            <%= link_to "Find unique fit & fashion here!", prelaunch_path, class: "download"%><br />
            <div class="applinks">
              <a href="#"><i class="fa fa-facebook-square"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features block">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title text-center">
          <h3>How it works</h3>
        </div>
      </div>  
    </div>  
    <hr>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="service-item">
          <%= image_tag("survey.png", class: "img-responsive center-block") %>
          <p>Create your style profile with your preferences, wishlist items, and upcoming events.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-item">
          <%= image_tag("boutique.png", class: "img-responsive center-block") %>
          <p>Discover fashion boutiques recommended for your personal style and budget.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="service-item">
          <%= image_tag("dress.png", class: "img-responsive center-block") %>
          <p>Schedule personalized drop-in sessions with your favorite boutiques, and find the just-for-you fashion you crave!</p>
        </div>
      </div>
    </div>
  </div>
</div>

