<%= render 'shared/error_messages', object: drop_in_availability %>
<%= form_tag '/drop_in_availabilities', method: 'post' do %>
  <%= label_tag :date, nil, class: "sr-only" %>
  <%= text_field_tag :date, nil, class: "form-control", 
                                 placeholder: "Date",
                                 value: date %>

  <div class="choose-status">
    <div class="status">
      <label class="radio-inline col-md-6 col-xs-6">
        <input class="col-md-2 col-xs-2" id="status_on" 
               name="status", type="radio", value="on">
        Accepting drop-ins
      </label>
    </div>
    <div class="status">
      <label class="radio-inline col-md-6 col-xs-6">
        <input class="col-md-2 col-xs-2" id="status_off" 
               name="status", type="radio", value="off">
        Not accepting drop-ins
      </label>
    </div>
  </div>

  <div id="status-on-options">
    <%= label_tag :start_time, nil, class: "sr-only" %>
    <%= text_field_tag :start_time, nil, 
                       class: "form-control timepicker", 
                       placeholder: "Start time"%>

    <%= label_tag :end_time, nil, class: "sr-only" %>
    <%= text_field_tag :end_time, nil, 
                       class: "form-control timepicker", 
                       placeholder: "End time"%>

    <%= label(:drop_in_availability, :bandwidth, 'How many shoppers can you handle?') %>
    <%= select(:drop_in_availability, :bandwidth, 
                                (1..5).map{|v| ["#{v} at a time", v.to_s]}, 
                                class: "form-control") %>

    <%= hidden_field :drop_in_availability, :location_id, 
                                   value: current_retail_user.retailer.location.id %>
  </div>
  <%= submit_tag "Save", class: "btn btn-lg btn-primary col-md-6 col-xs-6"%>
<% end %>

