<%= render 'shared/error_messages', object: drop_in_availability %>
<%= form_for drop_in_availability do |f| %>
  <%= f.label :template_date, class: "sr-only" %>
  <%= f.text_field :template_date, class: "form-control", 
                    placeholder: "Date", value: date %>

  <div class="choose-status">
    <div class="status">
      <label class="radio-inline col-md-6 col-xs-6">
        <input class="col-md-2 col-xs-2" id="status_on" 
               name="status", type="radio", value="on">
        Accepting drop-ins
      </label>
    </div>
    <div class="status">
      <label class="radio-inline col-md-6 col-xs-6">
        <input class="col-md-2 col-xs-2" id="status_off" 
               name="status", type="radio", value="off">
        Not accepting drop-ins
      </label>
    </div>
  </div>

  <div id="status-on-options">
    <%= f.label :frequency %>
    <%= f.select :frequency, 
     [[DropInAvailability::ONE_TIME_FREQUENCY, DropInAvailability::ONE_TIME_FREQUENCY],
      [(date.blank? ? "Weekly" : "Every #{DateTime.parse(date).strftime('%A')}"), 
                                            DropInAvailability::WEEKLY_FREQUENCY],
      [DropInAvailability::DAILY_FREQUENCY, DropInAvailability::DAILY_FREQUENCY]],
      class: "form-control" %>


    <%= f.label :start_time, class: "sr-only" %>
    <%= f.text_field :start_time, class: "form-control timepicker", 
                      placeholder: "Start time",
                      value: '' %>

    <%= f.label :end_time, class: "sr-only" %>
    <%= f.text_field :end_time, class: "form-control timepicker", 
                      placeholder: "End time",
                      value: '' %>

    <%= f.label :bandwidth, 'How many shoppers can you handle?' %>
    <%= f.select :bandwidth, (1..5).map{|v| ["#{v} at a time", v.to_s]}, 
                             class: "form-control" %>

    <%= f.hidden_field :location_id, 
                        value: current_retail_user.retailer.location.id %>
  </div>
  <%= submit_tag "Add", class: "btn btn-lg btn-primary col-md-6 col-xs-6"%>
<% end %>

