<%= render 'shared/error_messages', object: drop_in_availability %>
<%= form_for drop_in_availability do |f| %>
  <%= f.label :template_date, class: "sr-only" %>
  <%= f.text_field :template_date, class: "form-control", 
                                   placeholder: "Date",
                                   value: date %>

  <div class="choose-status">
    <div class="status">
      <label class="radio-inline col-md-6 col-xs-6">
        <input class="col-md-2 col-xs-2" id="status_on" 
               name="status", type="radio", value="on">
        Accepting drop-ins
      </label>
    </div>
    <div class="status">
      <label class="radio-inline col-md-6 col-xs-6">
        <input class="col-md-2 col-xs-2" id="status_off" 
               name="status", type="radio", value="off">
        Not accepting drop-ins
      </label>
    </div>
  </div>

  <%= label_tag :update_focus, 'Make changes to:' %>
  <% select_options = [['Just this date', 'single']] %>
  <% unless drop_in_availability.series_text.blank? %>
    <% select_options << ["Entire series (#{drop_in_availability.series_text})", 'series'] %>
  <% end %>
  <%= select_tag :update_focus, 
                 options_for_select(select_options),
                 class: "form-control" %>

  <div id="status-on-options">
    <%= f.label :start_time, class: "sr-only" %>
    <%= f.text_field :start_time, 
                      class: "form-control timepicker", 
                      placeholder: "Start time",
                      value: f.object.start_time.strftime('%l:%M %p').lstrip %>

    <%= f.label :end_time, class: "sr-only" %>
    <%= f.text_field :end_time,  
                      class: "form-control timepicker", 
                      placeholder: "End time",
                      value: f.object.end_time.strftime('%l:%M %p').lstrip %>

    <%= f.label :bandwidth, 'How many shoppers can you handle?' %>
    <%= f.select :bandwidth, (1..5).map{|v| ["#{v} at a time", v.to_s]}, 
                             class: "form-control" %>

    <%= f.hidden_field :location_id, 
                        value: drop_in_availability.location.id %>
  </div>
  <%= f.submit "Update", class: "btn btn-lg btn-primary col-md-6 col-xs-6"%>
<% end %>

