<% provide(:title, 'Drop-in Availability') %>

<div class="drop-in-availability-top">
  <%= render "shared/header" %>
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>Drop-in Availability</h2><br /> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="drop-in-availability block">
  <div class="container">
    <div class="page-title text-center">
      <p>
        Select a day and use the form below to set your drop in availability.
        Highlighted days are ones you have marked as available for drop-ins.
      </p>
    </div>
    
    <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
      <div id="calendar">
      </div>
    </div>

    <div class="col-md-6 col-xs-6 col-md-offest-3 col-xs-offset-3">

      <%= render 'shared/error_messages', object: @drop_in_availability %>

      <%= form_tag '/drop_in_availabilities', method: 'post' do %>
        <%= label_tag :date, nil, class: "sr-only" %>
        <%= text_field_tag :date, nil, class: "form-control", placeholder: "Date" %>

        <div class="choose-status">
          <div class="status">
            <label class="radio-inline col-md-6 col-xs-6">
              <input class="col-md-2 col-xs-2" id="status_on" 
                     name="status", type="radio", value="on">
              Accepting drop-ins
            </label>
          </div>
          <div class="status">
            <label class="radio-inline col-md-6 col-xs-6">
              <input class="col-md-2 col-xs-2" id="status_off" 
                     name="status", type="radio", value="off">
              Not accepting drop-ins
            </label>
          </div>
        </div>

        <%= label_tag :start_time, nil, class: "sr-only" %>
        <%= text_field_tag :start_time, nil, 
                           class: "form-control timepicker", placeholder: "Start time" %>

        <%= label_tag :end_time, nil, class: "sr-only" %>
        <%= text_field_tag :end_time, nil, 
                           class: "form-control timepicker", placeholder: "End time" %>

        <%= label(:drop_in_availability, :bandwidth, 'How many shoppers at a time?') %>
        <%= number_field(:drop_in_availability, :bandwidth, in: 1..10, 
                                                class: "form-control", 
                                                value: @drop_in_availability.bandwidth || '1') %>

        <%= hidden_field :drop_in_availability, :location_id, 
                                       value: current_retail_user.retailer.location.id %>

        <%= submit_tag "Save", class: "btn btn-lg btn-primary col-md-6 col-xs-6"%>
      <% end %>
    </div>
  </div>
</div>
