<% cl_image_tag("blouse_and_dress.jpg") %>

<p>

<%= @greeting %>, <%= "\n" %>

We've booked your drop-in at <%= @retailer.name %> for <%= @drop_in.colloquial_time %>. <%= "\n" %>

<%= @retailer.owner_name %> and her team are looking forward to your arrival! <%= "\n" %>

Should you need to contact them, please call <%= number_to_phone @retailer.phone_number %>. <%= "\n" %>

Hope to catch you another time!

Sincerely, <%= "\n" %>

Your friends at OpenStile

</p>
