<html>
  <head>
    <style>
      .my-drop-ins-top{ background:#555 asset_url(<%= image_path 'blouse_and_dress.jpg' %>) no-repeat; background-size:cover; background-position:center 50%; border-bottom:1px solid #fff; min-height:100px;
      }
    </style>
  </head>
  <body>
    <div class="my-drop-ins-top">
      <div class="hero inner-page">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="intro">
                <h2>You have an upcoming Drop-In!</h2><br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p> <%= @greeting %>, </p>

    <p> You have a drop in with <%= @retailer.name %> that's about to happen. Here are the details: </p>

    <p> Drop-in Time: <%= @drop_in.colloquial_time %> </p>

    <p> Retailer: <%= @retailer.name %> </p>

    <p> Location: <%= @retailer.location.address %> (<%= @retailer.location.neighborhood %>) </p>

    <p> Phone Number: <%= number_to_phone @retailer.phone_number %> </p>

    <p> Check out your drop ins on OpenStile <%= link_to "here", 'www.openstile.com/drop_ins/upcoming' %>. </p>

    <p> Sincerely, </p>

    <p> Your friends at OpenStile </p>
  </body>
</html>
