<% provide(:main_title, 'Your styling session is confirmed') %>
<% provide(:intro_blurb, "Hey gorgeous, you're all set for your styling session!") %>

<% provide(:cta_text, 'View my stylings') %>
<% provide(:cta_link, upcoming_drop_ins_path) %>

<p>Hello <%= @styling.user.first_name.capitalize %>!</p>

<p>You have scheduled a styling with <%= @styling.retailer.name %> for <%= @styling.colloquial_time %>.</p>
<p>
  Owner <%="#{@styling.retailer.user.first_name} #{@styling.retailer.user.last_name}"%> and
  the <%= @styling.retailer.name%> team can't wait to work with you!
</p>
<br />

<p>Check out this and all of your upcoming stylings on OpenStile.</p><br />
