<% cl_image_tag("blouse_and_dress.jpg") %>

<p>

<%= @greeting %>, <%= "\n" %>

You have canceled your drop in with <%= @retailer.name %> for <%= @drop_in.colloquial_time %>. <%= "\n" %>

Check out your drop ins on OpenStile <%= link_to "here", 'www.openstile.com/drop_ins/upcoming' %>. <%= "\n" %>

Sincerely, <%= "\n" %>

Your friends at OpenStile

</p>
