<p>

<%= @greeting %>, </br>

We've booked your drop-in at <%= @retailer.name %> for <%= @drop_in.colloquial_time %>. </br>

<%= @retailer.owner_name %> and her team are looking forward to your arrival! </br>

Should you need to contact them, please call <%= number_to_phone @retailer.phone_number %>. </br>

Hope to catch you another time!

Sincerely, </br>

Your friends at OpenStile

</p>
