<% provide(:title, 'Sign up') %>
<h1>Create an account</h1>

<div class="row">
  <div class="span6 offset">
    <%= form_for(@shopper) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :email, "Email address" %>
      <%= f.text_field :email %>

      <%= f.label :cell_phone, "Cell phone number" %>
      <%= f.text_field :cell_phone %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Sign up", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
