<div class="row">
  <% list.each do |entry| %>
    <div class="col-md-4 col-xs-6">
      <div id=<%= recommendation_string(entry[:object], tab) %> class="feed-item">
        <a href=<%= item_show_path(entry[:object])%> >
          <%= cl_image_tag(entry[:object].image_name, 
                                       width: 300, height: 375, crop: :lpad,
                                       class: "img-responsive feed-item-image") %>
          <span class="feed-item-description text-center">
            <br /><br /><br />
            <h3><%= entry[:object].summary %></h3>
            <br />
            <% unless entry[:justification].empty? %>
              <h4><%= "Recommended for #{entry[:justification].sample}" %></h4><br />
            <% end %>
            <br />
            <%= cl_image_tag(entry[:object].logo_image_name, 
                              class: "img-responsive center-block",
                              width: 200) %>
          </span>
        </a>
        <% if (shopper_signed_in? && entry[:object].respond_to?(:favorites)) %>
          <span class="feed-item-favorite like-toggle">
            <%= render 'shared/like_toggle', object: entry[:object] %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
