<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <h1><%= link_to "OpenStile", root_path %></h1>
        </div>
      </div>
      <div class="navigation pull-right">
        <% if current_shopper.nil? && current_retail_user.nil? && current_admin.nil? %>
          <%= link_to "About", about_path %>
          <%= link_to "Blog", blog_path %>
          <%= link_to "Log in", new_shopper_session_path %>
          <%= link_to "Sign up", new_shopper_registration_path, class: "sign-up" %>
        <% else %>
          <% if !current_shopper.nil? %>
            <%= link_to "Style Profile", edit_style_profile_path(current_shopper.style_profile) %>
            <a href=<%=upcoming_drop_ins_path%>>
              Scheduled Drop-ins
              <% if never_had_drop_in? current_shopper %>
                <span class="glyphicon glyphicon-certificate"></span>
              <% end %>
            </a>
            <%= link_to "Log out", destroy_shopper_session_path, :method => :delete %>
          <% end %>
          <% if !current_retail_user.nil? %>
            <%= link_to "Dashboard", root_path %>
            <%= link_to "Reset Password", edit_retail_user_registration_path %>
            <%= link_to "Log out", destroy_retail_user_session_path, :method => :delete %>
          <% end %>
          <% if !current_admin.nil? %>
            <%= link_to "Log out", destroy_admin_session_path, :method => :delete %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= bootstrap_flash %>
  </div>
</header>
