<% list.each_with_index do |recommendation, idx| %>
  <div class="row">
    <div class="recommendation">
      <div class="col-md-5<%= ' col-md-push-7' if idx.odd? %> col-sm-12">
        <%= image_tag("recommendations/#{recommendation[:object].image_name}.jpg",
                       class: "img-responsive")%>
      </div>
      <div class="col-md-7<%= ' col-md-pull-5' if idx.odd? %> col-sm-12">
        <div class="summary" id=<%= recommendation_string(recommendation[:object]) %>>
          <h3><%= recommendation[:object].name %></h3><br />
          <% if recommendation[:object].is_a? Retailer %>
            <h4><%= recommendation[:object].location.neighborhood %></h4><br />
          <% elsif recommendation[:object].is_a? Outfit %>
            <h4><%= recommendation[:object].retailer.name %></h4>
            <h4><%= recommendation[:object].price_description %></h4><br />
          <% else %>
            <h4><%= recommendation[:object].retailer.name %></h4>
            <h4><%= "$%6.2f" % recommendation[:object].price.to_f %></h4><br />
          <% end %>
          <% unless recommendation[:justification].empty? %>
            <h4><%= "Recommended for #{recommendation[:justification].sample}" %></h4><br />
          <% end %>
          <%= render 'shared/drop_in_button', object: recommendation[:object] %>
        </div>
      </div>
    </div>
  </div>
<% end %>

