<div data-retailer-id=<%= retailer.id %> class="drop-in" id="drop-in">
  <hr>
  <div class="title row text-center">
    <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
      <% if for_retailer %>
        <h2>Schedule a drop-in to browse this store</h2><br />
        <p>
          Based on your personal style we'll pick out a few items and outfits 
          you're sure to love! When you come in, just tell us your name.
        </p>
      <% else %>
        <% type = item.is_a?(Outfit) ? 'outfit' : 'item' %>
        <h2>Like this <%= type %>? Come in and see it!</h2><br />
        <p>
          OpenStile exposes you to great featured pieces from our neighborhood retailers. 
          While we can't guarantee this item will still be available for your drop-in 
          (due to fast-paced inventory turnover) we will try our darndest to make sure 
          this is reserved in your size when you come in. Also, based on your personal 
          style we'll pick out a few similar items and outfits you're sure to love!
        </p>
      <% end %>
    </div>
  </div>

  <div class="schedule">
    <%= form_for(@drop_in || current_shopper.drop_ins.build(retailer_id: retailer.id)) do |f| %>
      <div class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4 text-center">
        <%= render 'shared/error_messages', object: f.object %>
      </div>

      <%= f.hidden_field :shopper_id %>
      <%= f.hidden_field :retailer_id %>

      <% unless for_retailer %>
        <%= f.fields_for :drop_in_items, 
                 f.object.drop_in_items.find_or_initialize_by(reservable: item) do |drop_in_item_fields|%>
          <%= drop_in_item_fields.hidden_field :reservable_id %>
          <%= drop_in_item_fields.hidden_field :reservable_type %>
        <% end %>
      <% end %>

      <div class="row form-group">
        <label class="sr-only" for="drop_in[selected_date]">Date</label>
        <div class="col-md-offset-3 col-xs-offset-3 col-md-6 col-xs-6">
          <input id="drop_in[selected_date]" name="drop_in[selected_date]" 
                 class="form-control input-lg datepicker" placeholder="Pick a Date"></input>
        </div>
      </div>

      <div class="row form-group">
        <label class="sr-only" for="drop_in[selected_time]">Time</label>
        <div class="col-md-offset-3 col-xs-offset-3 col-md-6 col-xs-6">
          <input id="drop_in[selected_time]" name="drop_in[selected_time]" 
                 class="form-control input-lg timepicker" placeholder="Pick a Time"></input>
        </div>
      </div>

      <div class="row form-group">
        <%= f.label :comment, class: "sr-only"%>
        <div class="col-md-offset-3 col-xs-offset-3 col-md-6 col-xs-6">
          <%= f.text_area :comment, class: "form-control input-lg",
               placeholder: "We want to cater your drop-in experience to you! " + 
                            "Please let us know if you're looking for something in particular, " +
                            "have a specific shopping goal in mind (i.e new wardrobe for the season), " +
                            "or are preparing for an upcoming event.",
               size: "24x6"%>
        </div>
      </div>

      <div class="row">
        <div class= "col-md-offset-3 col-xs-offset-3 col-md-8 col-xs-8">
          <div id="location">
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-md-2 col-xs-2 col-md-offset-3 col-xs-offset-3">
          <%= f.submit 'Schedule', class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

