<div class="style-feed-top">
  <%= render "shared/header" %>
  <div class="hero inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro">
            <h2>My Style Feed</h2><br /> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="style-feed block">
  <div class="container">
    <div role="tabpanel">
      <ul class="nav nav-pills nav-justified" role="tablist" id="feedTab">
        <li role="presentation" class="active">
          <a href="#retailers" aria-controls="retailers" role="tab" data-toggle="tab">
            Our retailers
          </a>
        </li>
        <li role="presentation">
          <a href="#featured" aria-controls="featured" role="tab" data-toggle="tab">
            Featured items
          </a>
        </li>
        <li role="presentation">
          <a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab">
            My favorites
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="retailers">
          <div class="page-title text-center">
            <p>
              Check out our retailers committed to offering you the OpenStile 
              <%= link_to "shopping experience", experience_path %>. We've 
              marked the ones recommended for <span style="text-decoration: underline;">your</span> 
              budget, body, and style. Book a drop-in today!
            </p>
            <hr>
          </div>
          <%= render 'shared/feed', list: @retailers,
                                    tab: 'retailers' %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="featured">
          <div class="page-title text-center">
            <p>
              Here is a sampling of what our retailers carry. We've marked the ones 
              recommended for <span style="text-decoration: underline;">your</span> 
              budget, body, and style. Book a drop-in today and have pieces like
              these hand-picked and waiting for your arrival.
            </p>
            <hr>
          </div>
          <%= render 'shared/feed', 
                 list: @features,
                 tab: 'featured' %>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="favorites">
          <div class="page-title text-center">
            <p>
              These are the featured items you've marked as favorites. When you book 
              a drop-in we'll let our retailers know that this is the stuff you like.
            </p>
            <hr>
          </div>
          <div id="favoriteList">
            <%= render 'shared/favorite_list' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<span class="totop"><a href="#.home"> <i class="fa fa-chevron-up"></i> </a></span>
