<h3>Tops</h3>
<ul>
  <% unless profile.top_sizes.empty? %>
      <li>Sizes: <%= profile.top_sizes.map(&:name).join(', ') %></li>
  <% end %>
  <% unless profile.top_budget.blank? %>
      <li>Budget: <%= profile.top_budget %></li>
  <% end %>
  <% unless profile.top_fit.blank? %>
      <li>Fit: <%= profile.top_fit.name %></li>
  <% end %>
</ul>
<h3>Bottoms</h3>
<ul>
  <% unless profile.bottom_sizes.empty? %>
      <li>Sizes: <%= profile.bottom_sizes.map(&:name).join(', ') %></li>
  <% end %>
  <% unless profile.bottom_budget.blank? %>
      <li>Budget: <%= profile.bottom_budget %></li>
  <% end %>
  <% unless profile.bottom_fit.blank? %>
      <li>Fit: <%= profile.bottom_fit.name %></li>
  <% end %>
</ul>
<h3>Dresses</h3>
<ul>
  <% unless profile.dress_sizes.empty? %>
      <li>Sizes: <%= profile.dress_sizes.map(&:name).join(', ') %></li>
  <% end %>
  <% unless profile.dress_budget.blank? %>
      <li>Budget: <%= profile.dress_budget %></li>
  <% end %>
</ul>
<% unless profile.body_builds.empty? %>
    <h3>Build considerations: <%= profile.body_builds.map(&:name).join(', ') %></h3>
<% end %>
<% unless profile.looks.empty? %>
    <h3>Loved looks: </h3>
    <% profile.looks.each do |look|%>
        <%= image_tag(look.image_path, alt: look.name, class: 'img-responsive') %>
    <% end %>
<% end %>
<% unless profile.special_considerations.empty? %>
    <h3>Values: <%= profile.special_considerations.map(&:name).join(', ') %></h3>
<% end %>