<% provide(:title, @retailer.name) %>

<%= render "shared/header" %>

<div class="boutique-page container">
  <div class="row intro">
    <div class="col-xs-6">
      <%= render 'retailers/sample_image_carousel' %>
    </div>
    <div class="col-xs-6 text-center">
      <h2><%= @retailer.name %></h2>
      <h3 class="neighborhood"><%= @retailer.location.neighborhood %></h3>
      <h1 class="store-quote"><%= @retailer.quote %></h1>
      <a href="#" class="btn try-today" id="show-booking-form">Book FREE Styling</a>
    </div>
  </div>
  <div class="row details">
    <hr />
    <div class="col-xs-12 col-md-6 text-justify section">
      <div class="col-xs-6 col-md-4">
        <h3>Owner: </h3>
        <h3>Address: </h3>
        <h3>Sizes: </h3>
        <h3>Price range: </h3>
      </div>
      <div class="col-xs-6 col-md-8">
        <h3><%= "#{@retailer.user.first_name} #{@retailer.user.last_name}"%></h3>
        <h3><%= StreetAddress::US.parse(@retailer.location.address) %></h3>
        <h3><%= @retailer.size_range%></h3>
        <h3>
          <% 3.times do |idx| %>
              <i class="fa fa-tag <%= 'activated' if idx + 1 <= @retailer.price_index %>"></i>
          <% end %>
        </h3>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 text-justify section">
      <h3><%= @retailer.description %></h3>
      <%= render 'retailers/online_presence', links: @retailer.online_presence unless @retailer.online_presence.nil?%>
    </div>
  </div>
  <div class="row book-styling">
    <hr />
    <%= render 'shared/schedule_drop_in', retailer: @retailer, for_retailer: true %>
  </div>
</div>

<% set_meta_tags og: {
                         locale:        'en_US',
                         type:          'website',
                         title:         'OpenStile | Hand-picked style at your favorite local boutiques',
                         description:   "Book a FREE personal styling session with #{@retailer.name} today!",
                         url:           retailer_url(@retailer)
                 }
%>
