<% provide(:title, @retailer.name) %>

<%= render "shared/header" %>

<div class="recommendation-details block">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-5">
        <img class="img-responsive" src="http://placehold.it/400x500">
      </div>
      <div class="col-md-5 col-xs-5 text-center">
        <hr>
        <h1><%= @retailer.name %></h1><br />
        <h2><%= @retailer.location.neighborhood %></h2><br />
        <h4><%= @retailer.description %></h4>
        <hr>
        <% if @retailer.online_presence %>
          <% unless @retailer.online_presence.web_link.blank? %>
            <a href=<%=@retailer.online_presence.web_link%> target='_blank'>
              <i class="fa fa-lg fa-link"></i>
            </a>
          <% end %>
          <% unless @retailer.online_presence.facebook_link.blank? %>
            <a href=<%=@retailer.online_presence.facebook_link%> target='_blank'>
              <i class="fa fa-lg fa-facebook"></i>
            </a>
          <% end %>
          <% unless @retailer.online_presence.twitter_link.blank? %>
            <a href=<%=@retailer.online_presence.twitter_link%> target='_blank'>
              <i class="fa fa-lg fa-twitter"></i>
            </a>
          <% end %>
          <% unless @retailer.online_presence.instagram_link.blank? %>
            <a href=<%=@retailer.online_presence.instagram_link%> target='_blank'>
              <i class="fa fa-lg fa-instagram"></i>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if shopper_signed_in? %>
      <div data-retailer-id=<%= @retailer.id %> class="drop-in">
        <hr>
        <div class="title row text-center">
          <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
            <h2>Schedule a drop-in to browse this store</h2><br />
            <p>
              Based on your personal style we'll pick out a few items and outfits you're sure to love!
              When you come in, just tell us your name.
            </p>
          </div>
        </div>

        <div class="schedule">
          <%= form_for(@drop_in || current_shopper.drop_ins.build(retailer_id: @retailer.id)) do |f| %>
            <div class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4 text-center">
              <%= render 'shared/error_messages', object: f.object %>
            </div>

            <%= f.hidden_field :shopper_id %>
            <%= f.hidden_field :retailer_id %>

            <div class="row form-group">
              <label class="sr-only" for="drop_in[selected_date]">Date</label>
              <div class="col-md-offset-3 col-xs-offset-3 col-md-6 col-xs-6">
                <input id="drop_in[selected_date]" name="drop_in[selected_date]" 
                       class="form-control input-lg datepicker" placeholder="Pick a Date"></input>
              </div>
            </div>

            <div class="row form-group">
              <label class="sr-only" for="drop_in[selected_time]">Time</label>
              <div class="col-md-offset-3 col-xs-offset-3 col-md-6 col-xs-6">
                <input id="drop_in[selected_time]" name="drop_in[selected_time]" 
                       class="form-control input-lg timepicker" placeholder="Pick a Time"></input>
              </div>
            </div>

            <div class="row form-group">
              <%= f.label :comment, class: "sr-only"%>
              <div class="col-md-offset-3 col-xs-offset-3 col-md-6 col-xs-6">
                <%= f.text_area :comment, class: "form-control input-lg",
                      placeholder: "Looking for anything in particular? Preparing for an upcoming event?",
                      size: "24x6"%>
              </div>
            </div>

            <div class="row">
              <div class= "col-md-offset-3 col-xs-offset-3 col-md-8 col-xs-8">
                <div id="location">
                </div>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-2 col-xs-2 col-md-offset-3 col-xs-offset-3">
                <%= f.submit 'Schedule', class: 'btn btn-lg btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
