<% provide(:title, @retailer.name) %>

<%= render "shared/header" %>

<div class="recommendation-details block">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-5 vcenter">
        <%= cl_image_tag(@retailer.image_name, 
                         class: "img-responsive") %>
      </div>
      <div class="col-md-5 col-xs-5 text-center vcenter">
        <hr>
        <a href=<%= item_retailer_show_path(@retailer)%> >
          <%= cl_image_tag(@retailer.logo_image_name, 
                            class: "img-responsive center-block",
                            width: 200) %>
        </a><br />
        <h2><%= @retailer.location.neighborhood %></h2><br />
        <%= link_to('Book a drop-in!', "#drop-in", 
                                        class: "btn btn-default", 
                                        id: "btn-drop-in") if shopper_signed_in? %>
        <h4><%= @retailer.description %></h4>
        <% if @retailer.online_presence %>
          <% unless @retailer.online_presence.web_link.blank? %>
            <a href=<%=@retailer.online_presence.web_link%> target='_blank'>
              <i class="fa fa-lg fa-link"></i>
            </a>
          <% end %>
          <% unless @retailer.online_presence.facebook_link.blank? %>
            <a href=<%=@retailer.online_presence.facebook_link%> target='_blank'>
              <i class="fa fa-lg fa-facebook"></i>
            </a>
          <% end %>
          <% unless @retailer.online_presence.twitter_link.blank? %>
            <a href=<%=@retailer.online_presence.twitter_link%> target='_blank'>
              <i class="fa fa-lg fa-twitter"></i>
            </a>
          <% end %>
          <% unless @retailer.online_presence.instagram_link.blank? %>
            <a href=<%=@retailer.online_presence.instagram_link%> target='_blank'>
              <i class="fa fa-lg fa-instagram"></i>
            </a>
          <% end %>
        <% end %>
        <hr>
      </div>
    </div>

    <%= render 'shared/view_more', retailer: @retailer %>

    <% if shopper_signed_in? %>
      <%= render 'shared/schedule_drop_in', retailer: @retailer, for_retailer: true %>
    <% end %>
  </div>
</div>
