<p>Referrer: <%= @referral.referrer_name %> - <%= @referral.referrer_email %></p>
<p>Store: <%= @referral.store_name %> - <%= @referral.website %></p>
<p>Contact: <%= @referral.contact_name %> - <%= @referral.contact_email %></p>