<h4>What is your height and overall body build?</h4>
<div class="height-build row">
  <div class="height col-md-6 col-xs-6">
    <div class="col-md-3 col-xs-3">
      <%= form_helper.select :height_feet, 
              options_for_select([['3', 3], ['4', 4], ['5', 5], ['6', 6]], 
                                 (@style_profile.height_feet || 5)),
              {}, class: "form-control" %>
    </div>
    <div class="col-md-2 col-xs-2">
      <%= form_helper.label :height_feet, "feet" %>
    </div>
    <div class="col-md-3 col-xs-3">
      <%= form_helper.select :height_inches, 
              options_for_select((0..11).to_a.map{|v| [v.to_s, v]}, 
                                (@style_profile.height_inches || 5)),
              {}, class: "form-control" %>
    </div>
    <div class="col-md-2 col-xs-2">
      <%= form_helper.label :height_inches, "inches" %>
    </div>
  </div>

  <div class="body-build col-md-6 col-xs-6">
    <div class="col-md-2 col-xs-2">
      <%= form_helper.label :body_build, "Build" %>
    </div>
    <div class="col-md-5 col-xs-5">
      <%= form_helper.select :body_build,
           ['Slender', 'Average', 'Athletic', 'Full-figured'].map{|v| [v,v]}, 
           {prompt: true}, class: "form-control" %>
    </div>
  </div>
</div>
