<div id="budgets">
  <%= form_helper.fields_for :budget do |budget_form|%>

    <h4>How much would you spend on the following?</h4><br />

    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <%= budget_form.label :dress_range_string, 
                              "An everyday, work, or transitional dress:" %>
      </div>
      <div class="col-md-3 col-xs-4">
        <%= budget_form.select(:dress_range_string, [["max $50", "< $50"],
                                                   ["max $100", "< $100"],
                                                   ["max $150", "< $150"],
                                                   ["max $200", "< $200"],
                                                   ["$200 +", "$200 +"]], {}, class: "form-control") %>
      </div>                                                   
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <%= budget_form.label :top_range_string, 
                              "A shirt, blouse, or sweater:"%>
      </div>
      <div class="col-md-3 col-xs-4">
        <%= budget_form.select(:top_range_string, [["max $50", "< $50"],
                                                   ["max $100", "< $100"],
                                                   ["max $150", "< $150"],
                                                   ["max $200", "< $200"],
                                                   ["$200 +", "$200 +"]], {}, class: "form-control") %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <%= budget_form.label :bottom_range_string, 
                              "A pair of pants, jeans, or a skirt:"%>
      </div>
      <div class="col-md-3 col-xs-4">
        <%= budget_form.select(:bottom_range_string, [["max $50", "< $50"],
                                                   ["max $100", "< $100"],
                                                   ["max $150", "< $150"],
                                                   ["max $200", "< $200"],
                                                   ["$200 +", "$200 +"]], {}, class: "form-control") %>
      </div>
    </div>
  <% end %>
</div>
