<div class="row">
  <div class="fieldset check-all">
    <legend><%= title %> (check all that apply)</legend>
    <div class="content">
      <% sections.each do |section| %>
          <div class="col-xs-12">
            <h5><%= section[:prompt] %></h5>
          </div>
          <div class="col-xs-12 checkbox-options <%= section[:class_name] %>">
            <% section[:options].each do |option| %>
                <label class="checkbox-inline">
                  <input type="checkbox"
                         id="<%= idify(section[:attribute_string], option[:value]) %>"
                         name="<%= section[:attribute_string]%>[]"
                         value="<%= option[:value]%>" <%= 'checked' if option[:checked]%>> <%= option[:label] %>
                </label>
            <% end %>
            <input name="<%= section[:attribute_string]%>[]" type="hidden" value="">
          </div>
      <% end %>
    </div>
  </div>
</div>