<div class="style-profile container">
  <%= form_for @style_profile do |f| %>
      <ul class="progressbar text-center">
        <li class="active">Sizes & Budget</li>
        <li>Body Shape</li>
        <li>Favorite Looks</li>
        <li>Fit & Coverage</li>
        <li>Color Preferences</li>
      </ul>
      <div class="fieldset-group">
        <fieldset>
          <%= render 'check_all_fieldset', title: 'Your sizes',
                     sections: [{prompt: "Select your top sizes.",
                                 class_name: 'top_sizes',
                                 attribute_string: 'style_profile[top_size_ids]',
                                 options: TopSize.all.map{|size|
                                   {label: size.name, value: size.id,
                                    checked: @style_profile.top_size_ids.include?(size.id)} }
                                },
                                {prompt: "Select your bottom sizes.",
                                 class_name: 'bottom_sizes',
                                 attribute_string: 'style_profile[bottom_size_ids]',
                                 options: BottomSize.all.map{|size|
                                   {label: size.name, value: size.id,
                                    checked: @style_profile.bottom_size_ids.include?(size.id)} }
                                },
                                {prompt: "Select your dress sizes.",
                                 class_name: 'dress_sizes',
                                 attribute_string: 'style_profile[dress_size_ids]',
                                 options: DressSize.all.map{|size|
                                   {label: size.name, value: size.id,
                                    checked: @style_profile.dress_size_ids.include?(size.id)} }
                                },
                                {prompt: "Select your build.",
                                 class_name: 'build',
                                 attribute_string: 'style_profile[body_build_ids]',
                                 options: BodyBuild.all.map{|build|
                                   {label: build.name, value: build.id,
                                    checked: @style_profile.body_build_ids.include?(build.id)} }
                                }] %>
        </fieldset>

        <fieldset>
          <% budget_options = [{label: 'max $50', value: 'max $50'},
                               {label: 'max $100', value: 'max $100'},
                               {label: 'max $150', value: 'max $150'},
                               {label: 'max $200', value: 'max $200'},
                               {label: '$200 +', value: '$200 +'}]%>
          <%= render 'dropdowns_fieldset', title: 'Your budget',
                     instructions: 'How much would you spend on the following?',
                     sections: [{prompt: "An everyday, work, or transitional dress",
                                 attribute_string: 'style_profile[dress_budget]',
                                 options: budget_options,
                                 selected: @style_profile.dress_budget
                                },
                                {prompt: "A shirt, blouse, or sweater",
                                 attribute_string: 'style_profile[top_budget]',
                                 options: budget_options,
                                 selected: @style_profile.top_budget
                                },
                                {prompt: "A pair of pants, jeans, or a skirt",
                                 attribute_string: 'style_profile[bottom_budget]',
                                 options: budget_options,
                                 selected: @style_profile.bottom_budget
                                }] %>
        </fieldset>
        <input type="button" name="next" class="next action-button" value="Next" />
      </div>
      <div class="fieldset-group">
        <fieldset>
          <%= render 'radio_images_fieldset', title: 'Your shape',
                     prompt: 'Which of these body shapes best describes you?',
                     attribute_string: 'style_profile[body_shape_id]',
                     selected: @style_profile.body_shape_id,
                     options: BodyShape.all.map{|shape| {value: shape.id,
                                                         label: shape.name,
                                                         image: "body_shapes/#{shape.name.downcase.gsub(' ','-')}.jpg",
                                                         description: shape.description} } %>
        </fieldset>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </div>
      <div class="fieldset-group">
        <fieldset>
          <%= render 'image_tiles_fieldset', title: 'Looks you like',
                     prompt: 'Which of the following looks (if any) do you like? Click the image to select it.',
                     attribute_string: 'style_profile[look_ids]',
                     column_width: 3,
                     options: Look.all.map{|look| {value: look.id,
                                                   image: look.image_path,
                                                   alt: look.name,
                                                   checked: @style_profile.look_ids.include?(look.id)} } %>
        </fieldset>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </div>
      <div class="fieldset-group">
        <fieldset>
          <%= render 'check_all_fieldset', title: 'Your special considerations',
                     sections: [{prompt: "Which of the following are important to you?",
                                 class_name: 'values',
                                 attribute_string: 'style_profile[special_consideration_ids]',
                                 options: SpecialConsideration.all.map{|value|
                                   {label: value.name, value: value.id,
                                    checked: @style_profile.special_consideration_ids.include?(value.id)} }
                                }] %>
        </fieldset>

        <fieldset>
          <%= render 'dropdowns_fieldset', title: 'Your fit',
                     instructions: 'How do you (generally) like your clothes to fit?',
                     sections: [{prompt: "Top fit",
                                 attribute_string: 'style_profile[top_fit_id]',
                                 options: TopFit.all.map{|fit| {label: fit.name, value: fit.id}},
                                 selected: @style_profile.top_fit_id
                                },
                                {prompt: "Bottom fit",
                                 attribute_string: 'style_profile[bottom_fit_id]',
                                 options: BottomFit.all.map{|fit| {label: fit.name, value: fit.id}},
                                 selected: @style_profile.bottom_fit_id
                                }] %>
        </fieldset>

        <fieldset>
          <%= render 'check_all_fieldset', title: 'Your coverage',
                     sections: [{prompt: "What parts do you like to flaunt?",
                                 class_name: 'flaunt',
                                 attribute_string: 'style_profile[flaunted_part_ids]',
                                 options: Part.all.map{|part|
                                   {label: part.name, value: part.id,
                                    checked: @style_profile.flaunted_part_ids.include?(part.id)} }
                                },
                                {prompt: "What parts do you prefer to downplay?",
                                 class_name: 'cover',
                                 attribute_string: 'style_profile[downplayed_part_ids]',
                                 options: Part.all.map{|part|
                                   {label: part.name, value: part.id,
                                    checked: @style_profile.downplayed_part_ids.include?(part.id)} }
                                }] %>
        </fieldset>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="button" name="next" class="next action-button" value="Next" />
      </div>
      <div class="fieldset-group">
        <fieldset>
          <%= render 'image_tiles_fieldset', title: 'Colors you avoid',
                     prompt: 'Which of the following color palettes do you avoid? Click the image to select it.',
                     attribute_string: 'style_profile[avoided_color_ids]',
                     column_width: 2,
                     options: Color.all.map{|color| {value: color.id,
                                                     label: color.name,
                                                     image: "colors/#{color.name.downcase}.jpg",
                                                     alt: color.name,
                                                     checked: @style_profile.avoided_color_ids.include?(color.id)} } %>
        </fieldset>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="<%= save_text %>" />
      </div>
  <% end %>
</div>