<div class="looks">
  <h4>How do you feel about <span style="text-decoration: underline;">each</span> of the following outfit sets?</h4><br />

  <% Look.all.each_with_index do |look, idx| %>
    <div id=<%="look_#{look.id}"%> class="look">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <%= image_tag("looks/#{look.name.downcase}.jpg", class: "img-responsive center-block")%>
        </div>
      </div>
      <div class="row">
        <%= form_helper.fields_for :look_tolerances, 
                @style_profile.look_tolerances.find_or_create_by(look_id: look.id) do |look_tolerance_fields| %>
          <div class="preference-selection col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <%= look_tolerance_fields.hidden_field(:look_id) %>
            <%= look_tolerance_fields.label(:tolerance, class: "sr-only") %>
            <%= look_tolerance_fields.select(:tolerance, 
                                              [["I hate it!", 1], ["It's alright", 5], ["I love it!", 10]],
                                              {prompt: true},
                                              class: "form-control") %>
          </div>
        <% end %>
      </div>
      <div class="row look-toggle">
        <div class="col-md-4 col-md-offset-2 col-xs-6">
          <% if idx == 0 %>
            <a class="showPreviousLook btn btn-lg btn-primary pull-right" href="#">
              Previous Look
            </a>
          <% else %>
            <a class="showPreviousLook btn btn-lg btn-primary pull-right" href="#">
              <span class="glyphicon glyphicon-chevron-left"></span>  Previous Look
            </a>
          <% end %>
        </div>
        <div class="col-md-4 col-xs-6">
          <% if idx == Look.count - 1 %>
            <a class="showNextLook btn btn-lg btn-primary pull-left" href="#">
              Done
            </a>
          <% else %>
            <a class="showNextLook btn btn-lg btn-primary pull-left" href="#">
              Next Look  <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
