<div class="row">
  <div class="fieldset radio-images">
    <legend><%= title %></legend>
    <div class="content">
      <div class="col-xs-12">
        <h5><%= prompt %></h5>
      </div>
      <div class="col-xs-12">
        <% options.each do |option| %>
            <div class="option col-xs-6 col-md-4">
              <label class="radio-inline text-justify">
                <input type="radio"
                        id="<%= idify(attribute_string, option[:value]) %>"
                        name="<%= attribute_string%>"
                        value="<%= option[:value]%>" <%= 'checked' if selected == option[:value]%>>
                <b><%= option[:label]%></b>
                <%= image_tag(option[:image],
                                alt: option[:label],
                                class: 'img-responsive center-block img-label') %>
                <%= option[:description] %>
              </label>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>