<% provide(:title, 'Style Profile') %>
<%= render "shared/header" %>

<div class="style-profile container">
  <div class="top-image"></div>
  <div class="text-center">
    <h3>We want to get to know you <%= current_shopper.first_name %></h3>
    <h4>Fill out the following so we can help boutique owners hand-pick items you're sure to love</h4>
  </div>

  <div class="style-form">
    <%= form_for @style_profile, url: {action: 'update'} do |f| %>

        <fieldset>
          <%= render 'check_all_fieldset', title: 'Your sizes',
                     sections: [{prompt: "Select your top size.",
                                 class_name: 'top_sizes',
                                 attribute_string: 'style_profile[top_size_ids]',
                                 options: TopSize.all.map{|size|
                                   {label: size.name, value: size.id,
                                    checked: @style_profile.top_size_ids.include?(size.id)} }
                                },
                                {prompt: "Select your bottom size.",
                                     class_name: 'bottom_sizes',
                                     attribute_string: 'style_profile[bottom_size_ids]',
                                     options: BottomSize.all.map{|size|
                                       {label: size.name, value: size.id,
                                        checked: @style_profile.bottom_size_ids.include?(size.id)} }
                                },
                                {prompt: "Select your dress size.",
                                 class_name: 'dress_sizes',
                                 attribute_string: 'style_profile[dress_size_ids]',
                                 options: DressSize.all.map{|size|
                                   {label: size.name, value: size.id,
                                    checked: @style_profile.dress_size_ids.include?(size.id)} }
                                }] %>
        </fieldset>

        <fieldset>
          <%= render 'dropdowns_fieldset', title: 'Sample dropdown selects',
                     instructions: 'Answer truthfully for each of the following',
                     sections: [{prompt: "What's your favorite Disney movie?",
                                 attribute_string: 'style_profile[fav_movie]',
                                 options: [
                                         {label: 'Little Mermaid', value: '1'},
                                         {label: 'Aladdin', value: '2'},
                                         {label: 'Lion King', value: '3'},
                                         {label: 'Cinderella', value: '4'} ],
                                 selected: '3'
                                },
                                {prompt: "What's your favorite Disney song?",
                                 attribute_string: 'style_profile[fav_song]',
                                 options: [
                                         {label: 'Man out of you', value: '1'},
                                         {label: 'Part of your world', value: '2'},
                                         {label: 'Under the sea', value: '3'},
                                         {label: 'Beauty and the Beast', value: '4'} ],
                                 selected: nil
                                }] %>
        </fieldset>

        <fieldset>
          <%= render 'image_tiles_fieldset', title: 'Sample image tile selector',
                     prompt: 'Which of these pictures do you love?',
                     attribute_string: 'style_profile[loved_image_ids]',
                     column_width: 4,
                     options: [
                             {label: 'These nuts!', value: '1', image: 'looks/bohemian_chic_hipster.jpg', checked: false},
                             {value: '2', image: 'looks/casual_relaxed.jpg', checked: false},
                             {value: '3', image: 'looks/classic_vintage.jpg', checked: true},
                             {value: '4', image: 'looks/edgy_rocker.jpg', checked: false} ] %>
        </fieldset>

        <fieldset>
          <%= render 'radio_images_fieldset', title: 'Sample select one image',
                     prompt: 'Which of these pictures describes you best?',
                     attribute_string: 'style_profile[me_image_id]',
                     selected: '2',
                     options: [
                             {value: '1', image: 'body_shapes/apple.jpg',
                             description: 'This is an apple shape'},
                             {value: '2', image: 'body_shapes/hourglass.jpg',
                             description: 'This is an hourglass shape'},
                             {value: '3', image: 'body_shapes/pear.jpg',
                             description: 'This is a pear shape'},
                             {value: '4', image: 'body_shapes/straight.jpg',
                             description: 'This a straight shape'},
                             {value: '5', image: 'body_shapes/inverted-triangle.jpg',
                              description: 'This a straight shape'} ] %>
        </fieldset>

        <br/>
        <%= f.submit 'Save and continue', class: 'btn btn-lg btn-primary center-block' %>
    <% end %>
  </div>
</div>
