<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | OpenStile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="logo">
          <h1><a href="#">OpenStile</a></h1>
        </div>
      </div>
      <div class="navigation pull-right">
        <%= link_to "Home", root_path %>
        <%= link_to "About", about_path %>
        <%= link_to "Blog", '#' %>
      </div>
    </div>
  </div>
</header>

<%= yield %>

<footer>
  <div class="container">
    <div class="social text-center">
      <a href="https://www.facebook.com/openstile" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/OpenStile" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="http://instagram.com/openstile" class="instagram"><i class="fa fa-instagram"></i></a>
    </div>
        
    <div class="row">
      <div class="col-md-12">
        <hr>
        <div class="copy text-center">
          &copy; 2014 World Touch Technologies LLC
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
