<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'dress.png' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title) %> | OpenStile</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= display_meta_tags site: 'OpenStile' %>
    <%= render("shared/google_analytics") if Rails.env.production? %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));</script>

    <%= yield %>

    <% unless(content_for?(:embeddable) && yield(:embeddable)) %>
    <footer>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><%= image_tag('logo_white.png', class: 'img-responsive center-block', width: 100) %></a>
          </div>
          <div>
            <ul class="nav navbar-nav navbar-right footer-links">
              <li><a href="#">how it works</a></li>
              <li><%= link_to 'about us', about_path %></li>
              <li><a href="#">style blog</a></li>
              <li><a href="#">contact us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </footer>
    <% end %>
  </body>
</html>
