<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'dress.png' %>
    <title><%= yield(:title) %> | OpenStile</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

    <% unless(content_for?(:embeddable) && yield(:embeddable)) || request.env['PATH_INFO'] == '/relaunch' %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-4 footer-section">
            <h5>Contact us</h5>
            <p>info@openstile.com</p><br>
          </div>
          <div class="col-xs-6 col-md-4 footer-section">
            <h5>Learn more</h5>
            <%= link_to "About", about_path %><br>
            <%= link_to "Blog", blog_articles_path %><br>
          </div>
          <div class="col-xs-12 col-md-4 footer-section sm-icons">
            <%= render 'shared/social_media_icons'%>
          </div>
        </div>
      </div>
    </footer>
    <% end %>

  </body>
</html>
